# App
config/database.php
plugins/debug_kit/
plugins/migrations/
vendors/simpletest/
webroot/uploads/
data/*
views/themed/weatherph/webroot/img/layers/*

# Cake cache
tmp/

.DS_Store
/nbproject/private/
config/settings.private.yml
nbproject/
views/themed/weatherph/webroot/videos

# Vim tmp files
*.swp
*.swo
