RewriteEngine on
AddType application/x-httpd-php .js
AddType application/x-httpd-php .css
AddType video/ogg .ogm .ogv .ogg
AddType video/mp4 .mp4 .f4v
AddType video/x-m4v .m4v
AddType video/webm .webm
AddType video/x-flv .flv

RewriteRule    ^$    webroot/    [L]
RewriteRule    (.*) webroot/$1    [L]

