RewriteEngine on
AddType application/x-httpd-php .js
AddType application/x-httpd-php .css
AddType video/mp4 .mp4
AddType video/webm .webm
AddType video/ogg .ogg
AddType video/ogg .ogv

RewriteRule    ^$    webroot/    [L]
RewriteRule    (.*) webroot/$1    [L]
