RewriteEngine on
AddType application/x-httpd-php .js
AddType application/x-httpd-php .css
AddType video/mp4 .mp4
AddType video/webm .webm
AddType video/ogg .ogg
AddType video/ogg .ogv

RewriteRule    ^$    webroot/    [L]
RewriteRule    (.*) webroot/$1    [L]

# Turn on Expires and set default to 0
ExpiresActive On
ExpiresDefault A0

# Set caching of video files to 20 minutes
<filesMatch "\.(m4v|mp4|webm)$">
Header set Cache-Control "max-age=15000"
</filesMatch>
