body { font-family: Arial; } 
    
ul { float: left; padding: 0; margin: 0; }
ul li { list-style: none; padding: 9px 5px; margin: 0 0 1px 0; font-size: 11px; }

table.forecast-labels { float: left; margin: -2px 0 0 0; }
table.forecast-labels td { height: 27px; font-size: 11px; padding: 1px 5px 0 5px;}


div#wrapper { float: left; width: 2000px; }
div#wrapper h1 { font-size: 20px; margin: 0 0 10px 0; }    

div#forecast-wrapper { width: 1800px; height: 268px; float: left; overflow-x: scroll; }

div#tables-wrapper { width: 3300px; float: left; } 

div#tables-wrapper table { border: 1px solid #000; float: left; margin: 0; }
div#tables-wrapper table td { border-top: 1px solid #000; border-right: 1px solid #000; text-align: center; height: 27px; width: 27px; font-size: 11px; padding: 0 5px; }
div#tables-wrapper table td:last-child { border-right: none; }

span.symbol { background: url(theme/weatherph_compact/img/sprite_symbols.png) no-repeat; height: 27px; }

span.day_1 { background-position: 0px 0px; }
span.day_2 { background-position: 0px -27px; }
span.day_3 { background-position: 0px -54px; }
span.day_4 { background-position: 0px -81px; }
span.day_5 { background-position: 0px -108px; }
span.day_6 { background-position: 0px -135px; }
span.day_7 { background-position: 0px -162px; }
span.day_8 { background-position: 0px -189px }
span.day_9 { background-position: 0px -216px; }
span.day_10 { background-position: 0px -243px; }
span.day_11 { background-position: 0px -270px; }
span.day_12 { background-position: 0px -297px; }
span.day_13 { background-position: 0px -324px; }
span.day_14 { background-position: 0px -351px; }
span.day_15 { background-position: 0px -378px; }
span.day_16 { background-position: 0px -405px; }
span.day_17 { background-position: 0px -432px; } 
span.day_18 { background-position: 0px -459px; }
span.day_19 { background-position: 0px -486px; }

span.night_1 { background-position: -37px 0px; }
span.night_2 { background-position: -37px -27px; }
span.night_3 { background-position: -37px -54px; }
span.night_4 { background-position: -37px -81px; }
span.night_5 { background-position: -37px -108px; }
span.night_6 { background-position: -37px -135px; }
span.night_7 { background-position: -37px -162px; }
span.night_8 { background-position: -37px -189px; }
span.night_9 { background-position: -37px -216px; }
span.night_10 { background-position: -37px -243px; }
span.night_11 { background-position: -37px -270px; }
span.night_12 { background-position: -37px -297px; }
span.night_13 { background-position: -37px -324px; }
span.night_14 { background-position: -37px -351px; }
span.night_15 { background-position: -37px -378px; }
span.night_16 { background-position: -37px -405px; }
span.night_17 { background-position: -37px -432px; }
span.night_18 { background-position: -37px -459px; }
span.night_19 { background-position: -37px -486px; }