/*

WEATHER PHILIPPINES - Frontpage

Table of contents:

1.Reset
2.Layout
3.Typography
4.Color Scheme
5.States

*/

/*========================================
1.	Reset
========================================*/

html, body, div, span, object, iframe, h1, h2, h3, dl dt, h4, h5, h6, p, blockquote, figure figcaption, blockquote, pre, abbr, address, cite, code, del, dfn, em, img, ins, kbd, q, samp, small, strong, sub, sup, var, b, i, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, figcaption, figure, footer, header, hgroup, menu, nav, section, summary, time, mark, audio, video {
    background: none repeat scroll 0 0 transparent;
    border: 0 none;
    font-size: 100%;
    margin: 0;
    outline: 0 none;
    padding: 0;
    vertical-align: baseline;
    list-style: none;
}

/*========================================
2.	Layout
========================================*/

/*====================
    CONTAINERS
====================*/

#container {
    width: 1000px;
    margin: 0 auto;
}

#content {
    float: left;
}

#sidebar {
    float:right;
}

/*====================
    HEADER
====================*/
.banner {
    height: 120px;
    margin-top: 10px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
}

.logo {
    float:left;
    padding: 35px 15px;
}

div#options {
    float: right;
    margin: 50px 10px 10px 10px;
}

div#options > img, div#options > form {
    float: right;
    display: inline;
    clear:both;
    margin-bottom: 10px;
}

div#options > form > img {
    vertical-align: middle;
}

/*====================
    MENU
====================*/

nav {
    width: 100%;
    margin: 10px 0;
    padding: 5px 0;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
}

nav li {
    display: inline;
    padding: 1em;
    font-size: .875em;
}

nav li + li {
    border-left: 1px solid #fafafa;
}

nav li > a {
    text-decoration: none;
}

/*====================
    MAP
====================*/
#map-container {
    width: 554px;
    margin-right: 10px;
    float:left;
}

#map {
    height: 554px;
}

div.layerSelector {
    width: 100%;
    text-align: center;
    -webkit-border-top-left-radius: 5px;
    -webkit-border-top-right-radius: 5px;
    -moz-border-radius-topleft: 5px;
    -moz-border-radius-topright: 5px;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
}

div.layerSelector ul {
    width: 100%;
    padding: 10px;
}

div.layerSelector li {
    display: inline;
    padding: 0 1em;
    text-decoration: none;
}

div#legend {
    width: 100%;
    -webkit-border-bottom-right-radius: 5px;
    -webkit-border-bottom-left-radius: 5px;
    -moz-border-radius-bottomright: 5px;
    -moz-border-radius-bottomleft: 5px;
    border-bottom-right-radius: 5px;
    border-bottom-left-radius: 5px;
    overflow: auto;
    border: solid 1px #2F4771;
}

div#legend > img {
    float:left; 
}

div#province-select, div#station-color {
    float: left;
    overflow: auto;
}

div#province-select > h6, div#province-select > select,
div#station-color > h6, div#station-color > img {
    display: inline;
    padding: 0 5px;
    vertical-align: middle;
}

/*====================
    INFO
====================*/

div#info {
    width: 238px;
    float:left;
    border-radius: 5px;
    border: 1px solid #2F4771;
}

#info a {
    float:right;
}

#current-readings-panel {
    padding: 10px 10px 0 10px;
}

h6.time {
    padding: 0 5px;
}

div.readings {
    clear: both;
    margin: 5px auto;
    padding: 0px 10px;
    overflow: hidden;
    position: relative;
    vertical-align: middle;
}

.readings > h3, .readings > img {
    float: left;
    padding: 3px;
}

.readings > h3 {
    font-size: 1.875em;
    width: 65px;
}

.readings > img {
    width: auto;
}

.readings > table {
    float: right;
    padding: 3px;
    width: 100px;
}

.detail-page-link {
    width: 100%;
    padding: 10px 0;
    clear: both;
    text-align: center;
    border-top: 1px solid black;
    border-bottom: 1px solid black;
}

.day-forecast li:nth-child(even) {
    background-color: #fafafa;
    color: #2F4771;
}

/*====================
    POSTS, NEWS
====================*/
.secondary h4, h6 {
    padding-bottom: 1em;
}

.secondary > .posts {
    width: 554px;
    float: left;
    margin: 2em 10px 10em 0;
}

.secondary > .news {
    width: 240px;
    float: left;
    margin-top: 2em;
    overflow: hidden;
}

.posts p {
    padding-bottom: 1em;
    line-height: 1.5;
    max-width: 36em;
}

.news li {
    float:left;
    width: 100%;
    font-weight: 500;
    padding: 5px;
}

.news img {
    float:left;
    margin-right: 5px;
}

.news p {
    padding: 1em;
    vertical-align: middle;
}

/*====================
    DETAIL
====================*/

#content {
    width: 804px;
}

#weekWeather, #charts, #outlook {
    margin: 10px auto;
}

#currentWeather {
    width: 100%;
    overflow: auto;
}

#station, #condition, #conditionTable {
    float:left;
    margin: 10px;
    padding: 10px;
}

#station {
    width: 161px;
}

#station > p {
    font-size: .875em;
}

#condition, #conditionTable  {
    width: 261px;
}

#condition > img {
    float:left;
}

.condition-text {
    float:left;
    margin-top: 1em;
}

#conditionTable > table {
    width: 100%;
}

#conditionTable td {
    padding: 5px 10px;
}

.output {
    text-align: center;
    vertical-align: middle;
    font-size: 2em;
    font-weight: bold;
}

/*===============
    TABS
===============*/

ul.tabs {
    margin-top: 1em;
    border-bottom: 15px solid #2F4771;
}

.tabs li {
    display: inline;
    padding: 5px 10px 0 10px;
    border-bottom: 1px solid #2E4471;
}

.tabs li > a {
    text-decoration: none;
}

div.tab{
    display: none;
}

div.current-tab {
    display: block;
}

/*===============
    WEEK
===============*/

.week-forecast td {
    padding: 1em;
    text-align: center;
    border: 1px solid #d6dfeb;
}

/*====================
    SIDEBAR
====================*/

aside#sidebar {
    width: 186px;
    margin-left: 10px;
}

.sponsored {
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid black;
    border-radius: 8px;
}

.ads {
    margin-top: 10px;
}

.promo {
    padding: 10px;
    margin-bottom: 10px;
    border-radius: 8px;
    text-align: center;
}

.promo p {
    text-align: left;
}

.promo img {
    margin: 5px;
}

/*====================
    FOOTER
====================*/

footer {
    width: 100%;
    clear: both;
    margin: 3em auto 0 auto;
}

footer > .legal, footer > .countrySelect {
    margin: 10px;
}

.legal {
    float: right;
    width: 364px;
}

.countrySelect {
    float:left;
    width: 556px;
}

.legal li {
    display: inline;
    padding-right: 2em;
}

.countrySelect ul {
    float: left;
    margin-right: 20px;
}

footer li {
    margin: 10px;
}

/*========================================
3.	Typography
========================================*/

html {
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: .875em;
    font-weight: 400;
    line-height: 1.5;
}

h1 {
    font-size: 3em;
    font-weight: 600;
}

h2 {
    font-size: 1.875em;
    font-weight: 600;
}

h3, h4 {
    font-size: 1.143em;
    font-weight: 600;
}

h5, h6 {
    font-size: 1em;
    font-weight: 600;
}

div#info {
    font-size: .75em;
    font-weight: 300;
}

.logo {
    color:#3E4F76;
    font-size: 2.875em;
    font-weight: 200;
    text-shadow: #fafafa 0px 0px 20px;
}
.logo a,
.logo a:link,
.logo a:visited,
.logo a:focus,
.logo a:hover
{
    color:#3E4F76;
    text-decoration: none;
}
.layerSelector, #legend {
    font-size: .875em;
}

/*========================================
4.	Color Scheme
========================================*/

html {
    color: #2F4771;
}

.banner {
    color: #fafafa;
    background:#43597C url(../img/banner.png) top left no-repeat;
}

nav, .layerSelector, .promo, #info {
    background: #2F4771;
    color: #fafafa;
}

#info > div.readings {
    background-color: #723A71;
    margin-bottom: 0;
    border-top: 1px solid black;
}

.detail-page-link {
    background: #43597C;
    color: #fafafa;
}

.news li:nth-child(odd) {
    background: rgba(171,185,221,.5);
}

#currentWeather, .tabs li {
    background: #43597E;
    color: #fafafa;
}



.week-forecast .time, .output {
    background-color: #2F4771;
    color: #fafafa;
}

.caption {
    background-color: #fafafa;
    color: #2F4771;
    vertical-align: middle;
}

/*========================================
5.	States
========================================*/
.center {
    text-align: center;
}

.clear {
    clear: both;
}

a {
    -webkit-transition: all .2s ease;
    -moz-transition: all .2s ease;
    -o-transition: all .2s ease;
    transition: all .2s ease;
}

a:hover {
    text-shadow: #ffffff 0px 0px 20px;
}

a:link, a:visited {
    color: #fafafa;
}

.layerSelector a:link, .layerSelector a:visited,
footer a:link, footer a:visited {
    color: #fafafa;
}

.tabs li.current-tab {
    border-top: 1px solid red;
}
span.symbol { background: url(/theme/weatherph_compact/img/sprite_symbols.png) no-repeat; height: 27px; width: 37px; display: block; margin-left: 10px; float: left; }

span.day_1 { background-position: 0px 0px; }
span.day_2 { background-position: 0px -27px; }
span.day_3 { background-position: 0px -54px; }
span.day_4 { background-position: 0px -81px; }
span.day_5 { background-position: 0px -108px; }
span.day_6 { background-position: 0px -135px; }
span.day_7 { background-position: 0px -162px; }
span.day_8 { background-position: 0px -189px }
span.day_9 { background-position: 0px -216px; }
span.day_10 { background-position: 0px -243px; }
span.day_11 { background-position: 0px -270px; }
span.day_12 { background-position: 0px -297px; }
span.day_13 { background-position: 0px -324px; }
span.day_14 { background-position: 0px -351px; }
span.day_15 { background-position: 0px -378px; }
span.day_16 { background-position: 0px -405px; }
span.day_17 { background-position: 0px -432px; } 
span.day_18 { background-position: 0px -459px; }
span.day_19 { background-position: 0px -486px; }

span.night_1 { background-position: -37px 0px; }
span.night_2 { background-position: -37px -27px; }
span.night_3 { background-position: -37px -54px; }
span.night_4 { background-position: -37px -81px; }
span.night_5 { background-position: -37px -108px; }
span.night_6 { background-position: -37px -135px; }
span.night_7 { background-position: -37px -162px; }
span.night_8 { background-position: -37px -189px; }
span.night_9 { background-position: -37px -216px; }
span.night_10 { background-position: -37px -243px; }
span.night_11 { background-position: -37px -270px; }
span.night_12 { background-position: -37px -297px; }
span.night_13 { background-position: -37px -324px; }
span.night_14 { background-position: -37px -351px; }
span.night_15 { background-position: -37px -378px; }
span.night_16 { background-position: -37px -405px; }
span.night_17 { background-position: -37px -432px; }
span.night_18 { background-position: -37px -459px; }
span.night_19 { background-position: -37px -486px; }

.day-forecast table { float: left; }