/*

WEATHER PHILIPPINES - Frontpage

Table of contents:

1.Base
2.Layout
3.Modules
4.States
5.Themes

Categorization is loosely based on SMACSS (http://smacss.com/book/categorizing)

TODO:
- consolidate color rules
- edit view page css (reduce rules/classes)

*/

/*========================================
1.	Base
========================================*/

/* Reset */
html,body,div,span,applet,object,iframe,h1,h2,h3,h4,h5,h6,p,blockquote,pre,a,abbr,acronym,address,big,cite,code,del,dfn,em,font,img,ins,kbd,q,s,samp,small,strike,strong,sub,sup,tt,var,b,u,i,center,dl,dt,dd,ol,ul,li,fieldset,form,label,legend,table,caption,tbody,tfoot,thead,tr,th,td{margin:0;padding:0;border:0;outline:0;font-size:100%;vertical-align:baseline;background:transparent}body{line-height:1}ol,ul{list-style:none}blockquote,q{quotes:none}blockquote:before,blockquote:after,q:before,q:after{content:'';content:none}:focus{outline:0}ins{text-decoration:none}del{text-decoration:line-through}

html {
    font: 87.5%/1.5 "Helvetica Neue", Helvetica, Arial, sans-serif;
}

body {
    color: #365283;
    background: #fafafa url('<?= $this->webroot ?>theme/weatherph/img/bg.png');
}

h1 {
    font-size: 3em;
}

h2 {
    font-size: 2.25em;
}

h3 {
    font-size: 1.5em;
}

h4 {
    font-size: 1.3125em;
}

h5 {
    font-size: 1.125em;
}

h6 {
    font-size: 1em;
}

hr {
    width: 65%;
    margin: 1em auto;
    border: 0;
    height: 1px;
    background-image: -webkit-linear-gradient(left, rgba(0,0,0,0), rgba(54,82,121,.75), rgba(0,0,0,0));
    background-image:    -moz-linear-gradient(left, rgba(0,0,0,0), rgba(54,82,121,.75), rgba(0,0,0,0));
    background-image:      -o-linear-gradient(left, rgba(0,0,0,0), rgba(54,82,121,.75), rgba(0,0,0,0));
}

.cf:before,
.cf:after {
    content:"";
    display:table;
}

.cf:after {
    clear:both;
}

/* For IE 6/7 (trigger hasLayout) */
.cf {
    *zoom:1;
}

/*========================================
2.	Layout
========================================*/

/* Containers */

#container {
    width: 1000px;
    margin: 0 auto;
}

.banner {
    height: 155px;
    margin-top: 10px;
    border-radius: 8px;
}

nav {
    width: 980px;
    text-align: center;
    margin: 15px 0;
    padding: 5px 10px;
    border-radius: 5px;
    z-index: 1;
}

.content {
    float: left;
    width: 804px;
}

.main {
    margin-bottom: 1em;
}

.secondary{
    width: 794px;
    margin-top: 1em;
    float: left;
}

#sidebar {
    float:right;
    width: 186px;
    margin-left: 10px;
    text-align: center;
}

footer {
    float: left;
    clear: both;
    width: 100%;
    margin-top: 15em;
    padding: 10px;
    font-size: .75em;
    background-color: #f3f3f3;
    box-shadow: 0 -4px 4px -4px #555;
}

/* Header, nav */

.logo {
    float:left;
    padding: 40px 0 0 10px;
/*    margin: 60px 10px;
    font-size: 2.875em;
    font-weight: 200;
    text-shadow: #fafafa 0 0 20px;*/
}

/*.logo a,
.logo a:link,
.logo a:visited,
.logo a:focus,
.logo a:hover {
    color:#365283;
    text-decoration: none;
}*/

#options {
    float: right;
    margin: 85px 10px 10px 10px;
}

#options > img,
#options > form {
    float: right;
    display: inline;
    clear:both;
    margin-bottom: 10px;
}

label[for="search-field"] {
    font-size: 8pt;
    text-transform: uppercase;
}

#options > img {
    margin-right: 20px;
}

#options > form > img {
    vertical-align: middle;
}

/* Map */

#map-container {
    font-size: .875em;
    float:left;
    width: 554px;
    margin-right: 10px;
    background-color: #fafafa;
}

.map-viewport {
    position: relative;
    width: 554px;
    height: 554px;
}

.data-layer {
    width: 554px;
    height: 554px;
    position:absolute;
    top: 0;
    left: 0;
    z-index:1;
}

#layer-slides {
    width: 554px;
}

#layer-slides .slides_container {
    width: 554px;
    display:none;
}

#layer-slides .slides_container img {
    width:554px;
    height:554px;
    display:block;
}

#map {
    width: 554px;
    height: 554px;
    position:absolute;
    top: 0;
    left: 0;
    z-index:2;
}

#loader {
    display: block;
    width: 554px;
    height: 554px;
    position:absolute;
    top: 0;
    left: 0;
    z-index:3;
    background: white url('<?= $this->webroot ?>theme/weatherph/img/loader-twirl.gif') no-repeat center center;
    opacity: 0.8;
}

#loader-img {
    margin-top: 275px;
    margin-left: 275px;
}

.layer-selector {
    padding: 5px 10px;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    box-shadow: inset 0 2px 1px #333;
}

#map {
    height: 554px;
}

#map ul {
    position: absolute;
    bottom: 0 !important;
    left: 0 !important;
    list-style: none;
    width: 100%;
    max-width: 100% !important;
    padding: 4px !important;
    font-size: 10px;
    background-color: #333333;
    color: white;
    text-transform: uppercase;
}

#map-container video {
    display:none;
}

#legend {
    position:relative; /* IE 7 Scrollbar fix */
    overflow: auto;
    vertical-align: middle;
    padding: 5px;
    border-bottom-right-radius: 5px;
    border-bottom-left-radius: 5px;
}

.scale-temperature,
.scale-pressure {
    display: none;
    position: relative;
    width: 100%;
    text-align: center;
    border-bottom: 1px #e1e1e1 solid;
}

.scale-fahrenheit li,
.scale-celsius li,
.scale-pressure li {
    display: inline-block;
    text-align: center;
    vertical-align: middle;
    margin: 1px -2px;
    padding: 3px;
    color: #fafafa;
    text-shadow: 1px 1px #111111;
}

.unit-buttons {
    position: absolute;
}

.unit-buttons button {
    display: inline-block;
    position: relative;
    vertical-align: middle;
    width: 28px;
    height: 28px;
    margin: 5px 0 0 5px;
    font-size: 1.125em;
    font-weight: bold;
    color: #333333;
    background-color: #e1e1e1;
    border: solid 1px #d3d3d3;
    border-radius: 5px;
}

.province-select, .station-legend {
    float: left;
}

.station-legend > div {
    display: inline-block;
    height: 1em;
    width: 1em; 
    margin: 0 6px;
}

/* Info pane */

#info {
    font-size: .875em;
    width: 240px;
    float:left;
    border-radius: 5px;
}

#current-readings-panel {
    text-align: center;
    padding: 1em;
    box-shadow : inset 0 2px 1px #333;
    border-radius: 5px;
}

#readings-location {
    margin-bottom: 8px;
}

/* Readings */

.readings {
    clear: both;
    padding: 5px 10px;
    overflow: hidden;
    vertical-align: middle;
}

.detail-page-link {
    padding: 10px;
    text-align: center;
}

.detail-page-link > h2 {
    text-shadow: 0px 2px 3px #555;
}

.detail-page-link > img {
    display: inline;
}

.detail-page-link > a {
    font-size: 2em;
    font-weight: 600;
    display: inline;
}

h6.time {
    padding: 1px 5px;
}

readings > p {
    margin: 1px 3px 3px;
}

span.temperature {
    font-weight: 600;
    font-size: 1.875em;
}

.readings > span {
    margin: auto 2px;
    float: left;
}

.readings > table {
    float: left;
}

.readings >table td {
    padding-left: 5px;
}

.forecast-highlight {
    background-color: #fafafa;
    color: #365283;
}

/* Posts, news */

.secondary h4 {
    padding-bottom: 1em;
}

/* Blog, news pages */

.blog {
    width: 554px;
    float:left;
    margin-right: 10px;
}

.blog > .page {
    padding: 1.5em 1em;
}

.blog-excerpt {
    position: relative;
    margin: 2px;
    padding-left: 69px;
}

.post-date {
    color:#3990BD;
    padding: 0.3em;
    text-align: center;
}

.post-date .day {
    font-size: 1.75em;
    font-weight: 700;
}

.post-date .month,
.post-date .year {
    font-size: 1.2em;
    text-transform: uppercase;
}

.news {
    width: 228px;
    float: left;
    overflow: hidden;
    background-color: #fafafa;
    border: 1px solid #dddddd;
    box-shadow: 0 4px 3px -3px black;
}

.news li {
    float:left;
    width: 97%;
    padding: 3%;
}

.news li:nth-child(odd) {
    background-color: #e1e6f3;
}

.news img {
    float:left;
    margin-right: 5px;
}

.news p {
    padding: 1em;
    vertical-align: middle;
}

/* Detail page */

.week-forecast,
#charts,
#outlook {
    margin: 10px auto;
}

.current-detail-panel {
    width: 772px;
    overflow: auto;
    padding: 16px;
}

.current-detail-panel h6 {
    text-align: center;
    margin-bottom: 10px;
}

.station {
    text-align: center;
    width: 100%;
    margin-bottom: 1em;
}

.station h1 {
    text-shadow: 0px 2px 3px #555;
    margin-bottom: 5px;
}

.current-detail-condition {
    width: 55%;
    float: left;
}

.current-detail-condition td {
    vertical-align: middle;
    padding: 3px;
}

.detail-highlight {
    float: left;
    position: relative;
    width: 98%;
    background-color: #fafafa;
    border-radius: 5px;
    color: #365283;
    margin-bottom: 10px;
}

.detail-highlight-alt {
    float: left;
    position: relative;
    width: 60%;
    background-color: #fafafa;
    border-radius: 5px;
    color: #365283;
    margin-bottom: 10px;
    margin-left: 100px;
}

.temp-highlight {
    width: 50%;
    float: left;
    border-right: 1px #3E4F76 solid;
    margin-top: 10px;
    margin-bottom: 10px;
    text-align: center;
    font-size: 3em;
}

.temp-highlight-alt {
    width: 100%;
    float: left;
    margin-top: 10px;
    margin-bottom: 10px;
    text-align: center;
    font-size: 3em;
    text-align: center;
}

.condition-highlight {
    width: 49%;
    float: right;
    margin-top: 10px;
    margin-bottom: 10px;
    padding-top: 5px;
}

.current-detail-table {
    float: right;
    width: 45%;
    vertical-align: middle;
    
}

.current-detail-table th {
    background-color: #365283;
    color: #fafafa;
    vertical-align: middle;
    width: 45%;
    font-weight: normal;
}

.current-detail-table td {
    padding: 5px 8px;
    text-align: center;
    font-size: 1.2em;
    color: #3e5e95;
    font-weight: normal;
    background-color: #fafafa;
    vertical-align: middle;
}

.forecast-date {
    background-color: #3E5E95;
    border-radius: 5px 5px 0 0;
    color: #FAFAFA;
    margin-top: 2em;
    padding: 0.5em 0;
    text-align: center;
    width: 20em;
}

.week-forecast table {
    width: 100%;
    border-collapse: collapse;
    text-align: center;
    vertical-align: middle;
    background: #fafafa;
}

.week-forecast th {
    color: #fafafa;
    background: #365283;
    padding: 6px;
    font-weight: normal;
}

.week-forecast td {
    padding: 4px;
    border: 1px solid #e9e9e9;
}

.sun-moon-info {
    margin: 0 10px 0 0;
}

.sun-moon-info table {
    margin: 0 auto 10px;
}

.sun-moon-info td{
    vertical-align: middle;
}

.right-10px{
    padding-right: 20px
}

/*
.chart-legend { display: block; margin-left: 30px; vertical-align: middle; font-size: 10px; }
.chart-legend span { display: inline-block; margin: 0 5px 0 0; vertical-align: middle; padding: 0; width: 10px; }
*/

/* Sidebar */

.sponsored {
    padding: 10px;
    margin-bottom: 1em;
    border-radius: 5px;
    background-color: #fafafa;
    box-shadow: inset 0 2px 2px #aaa;
}

.promo {
    padding: .5em;
    margin-bottom: 1em;
    border-radius: 5px;
    box-shadow: 0 4px 3px -3px black;
}

.promo a {
    text-decoration: none;
}

/* Search Results */

.names.index {
    width: 240px;
    float: left;
}

.search-results h2 {
    text-align: center;
    padding: 15px 10px;
}

.search-results ul {
    border: 1px solid #f1f1f1;
}

.search-results li {
    position: relative;
    padding: 10px;
    text-align: center;
    vertical-align: middle;
/*    padding: 1em;
    padding-bottom: 24px;*/
/*    background: #fafafa;*/
/*    white-space: pre;*/
}

.search-results li + li {
    border-top: 1px solid #d3d3d3;
}

.search-results li:hover {
    background-color: #e0e6f2;
}

.search-results a {
/*    position: absolute;*/
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    text-decoration: none;
}

.citysearch {
    background:transparent url('<?= $this->webroot ?>theme/weatherph/img/city.png') 5% 5% no-repeat;
}

.paging {
    text-align: center;
}

/*========================================
3.	Modules
========================================*/

/* Page */

.page {
    line-height: 1.618em;
    position: relative;
    margin: 0 auto;
    padding: 2em;
    background-color: #fafafa;
    border: 1px solid #e1e1e1;
    box-shadow: 0 4px 3px -3px black;
}

.page p {
    margin-bottom: 1em;
}

.page li {
    list-style: disc;
    margin: 1em 0;
}

.page h2 {
    text-align: center;
    line-height: 1.333333333333333em;
    margin-bottom: .6666666666666667em;
}

.figure {
    max-width: 554px;
    margin: 2em auto;
    display:block;
}

.page dt {
    margin: .5em 0;
    font-weight: bold;
    font-size: 1.5em;
}

.page dd {
    margin-bottom: 1em;
}

.page video {
    margin: .5em 1em .5em 13px;
}

/* Slider */

#slides {
    width: 240px;
    float: left;
    margin-left: 30px;
}

.slides_container {
    width: 240px;
    display: none;
}

.slides_container img {
    width:240px;
    height:150px;
    display:block;
}

/* Dropdown menu */

.dropdown{
    height: 100%;
    width:100%;
    position:relative;
    text-align: center;
}

.dropdown li{
    position:relative;
    display: inline;
    padding: 0 1em;
}

.dropdown a {
    display:inline-block;
    padding: 3px;
    text-decoration: none;
}

.dropdown ul{
    background-color: #20304d;
    background-color: rgba(32,48,77,.9);
    position:absolute;
    left:-9999px;
    margin:0;
    padding:0;
    text-align:left;
}

.dropdown ul li {
    display:block;
}

.dropdown ul a{
    white-space:nowrap;
}

.dropdown li:hover ul{
    left:1em;
    z-index: 5;
}

.dropdown li:hover a{
    text-decoration: none;
}

.dropdown li:hover ul a{ /* The persistent hover state does however create a global style for links even before they're hovered. Here we undo these effects. */
    text-decoration: none;
}

.dropdown li:hover ul li:hover{ /* Here we define the most explicit hover states--what happens when you hover each individual link. */
    background-color:#3e5e95;
}

Tabs

ul.tabs {
    margin-top: 1em;
    border-bottom: 15px solid #3e5e95;
}

.divider{
    position: relative;
    width: 100%;
    background: #3e5e95;
}

.tabs li {
    display: inline;
    padding: 10px 30px 0px 30px;
    cursor: pointer;
    border-radius: 5px 5px 0 0;
    box-shadow: 0 -2px 2px #888;
}

.tabs li.current-tab {
    border-top: 4px solid #FFBE00;
    background-color: #3e5e95;
}

.tabs li > a {
    text-decoration: none;
}

.tabs li a{
    padding-bottom:10px;
    padding-top: 10px;
}

div.tab{
    display: none;
}

div.current-tab {
    display: block;
}



/* Error/warning block */

.severe-warning {
    display: none;
    width: 75%;
    padding: 8px;
    margin: -15px auto 15px;
    border-top: 1px solid #333;
    text-align: center;
    background-color: #aa1111;
    color: #f1f1f1;
    border-bottom-right-radius: 5px;
    border-bottom-left-radius: 5px;
}

.no-readings, .no-forecast {
    display: none;
    padding: 1.5em 1em;
    text-align: center;
    background-color: #20304d;
    color: #fafafa;
}

/* Spritemap */

span.symbol { background: url('<?= $this->webroot ?>theme/weatherph/img/warning-sprites.png') -5px -65px no-repeat; height: 30px; width: 40px; display: block; margin: auto; cursor: pointer;}
span.symbolwind { background: url('<?= $this->webroot ?>theme/weatherph/img/warning-sprites.png') -5px -65px no-repeat; height: 30px; width: 40px; display: block; margin: auto; cursor: pointer; float: left;}


span.day_1 { background-position: -70px -180px; }
span.day_2 { background-position: -125px -180px; }
span.day_3 { background-position: -185px -180px; }
span.day_4 { background-position: -248px -180px; }
span.day_5 { background-position: -305px -180px; }
span.day_6 { background-position: -368px -180px; }
span.day_7 { background-position: -427px -180px; }
span.day_8 { background-position: -487px -180px }
span.day_9 { background-position: -545px -180px; }
span.day_10 { background-position: -5px -240px; }
span.day_11 { background-position: -65px -240px; }
span.day_12 { background-position: -125px -240px; }
span.day_13 { background-position: -185px -240px; }
span.day_14 { background-position: -248px -240px; }
span.day_15 { background-position: -305px -240px; }
span.day_16 { background-position: -368px -240px; }
span.day_17 { background-position: -427px -240px; }
span.day_18 { background-position: -486px -240px; }
span.day_19 { background-position: -545px -240px; }

span.night_1 { background-position: -70px -60px; }
span.night_2 { background-position: -125px -60px; }
span.night_3 { background-position: -185px -60px; }
span.night_4 { background-position: -248px -60px; }
span.night_5 { background-position: -305px -60px; }
span.night_6 { background-position: -368px -60px; }
span.night_7 { background-position: -427px -60px; }
span.night_8 { background-position: -487px -60px; }
span.night_9 { background-position: -545px -60px; }
span.night_10 { background-position: -5px -120px; }
span.night_11 { background-position: -65px -120px; }
span.night_12 { background-position: -125px -120px; }
span.night_13 { background-position: -185px -120px; }
span.night_14 { background-position: -248px -120px; }
span.night_15 { background-position: -305px -120px; }
span.night_16 { background-position: -368px -120px; }
span.night_17 { background-position: -427px -120px; }
span.night_18 { background-position: -486px -120px; }
span.night_19 { background-position: -545px -120px; }

span.wind_1 { background-position: -354px -300px; }
span.wind_2 { background-position: -416px -300px; }
span.wind_3 { background-position: 6px -300px; }
span.wind_4 { background-position: -57px -300px; }
span.wind_5 { background-position: -117px -300px; }
span.wind_6 { background-position: -175px -300px; }
span.wind_7 { background-position: -236px -300px; }
span.wind_8 { background-position: -295px -300px; }
span.wind_9 { background-position: -480px -300px; }

span.moonphase_0 { background-position: -120px 5px; }
span.moonphase_1 { background-position: -180px 5px; }
span.moonphase_2 { background-position: -240px 5px; }
span.moonphase_3 { background-position: -300px 5px; }
span.moonphase_4 { background-position: -360px 5px; }
span.moonphase_5 { background-position: -420px 5px; }
span.moonphase_6 { background-position: -480px 5px; }
span.moonphase_7 { background-position: -540px 5px; }

span.sunrise { background-position: 0px 5px; }
span.sunset { background-position: -60px 5px; }

/* End spritemap */

.shadow {
    box-shadow: 0 4px 3px -3px black;
}

/* RIBBON  STYLE CSS */
.ribbon-wrapper {
    position: relative;
    float: left;
}

.ribbon-wrapper.blog-page {
    position: absolute;
    top: .5em;
}

.ribbon-front {
    background-color: #ffffff;
    height: 80px;
    width: 70px;
    position: relative;
    left:-25px;
    z-index: 2;
    border-top: 5px solid #3990BD;
    border-bottom: 1px solid #e1e1e1;
}

.ribbon-front.blog-page {
    left:-38px;
}

.ribbon-front.subblog {
    left:-35px;
}

.ribbon-edge-bottomleft {
    position: absolute;
    left: -25px;
    border-color: transparent #9393A4 transparent transparent;
    z-index: 1;
    border-style:solid;
    height:0px;
    width:0px;
    border-width: 0 10px 5px 0;
}

.ribbon-edge-bottomleft.blog-page {
    left: -38px;
}

.ribbon-edge-bottomleft.subblog {
    left:-35px;
}

/* Share buttons*/

.social {
    padding: 5px;
    margin-bottom: .5em;
    background: #fafafa;
    border: 1px solid #e1e6f3;
    border-radius: 5px;
}

.social h6 {
    margin-bottom: .5em;
}

/*========================================
4.	States
========================================*/

a {
    -webkit-transition: all .2s ease;
    -moz-transition: all .2s ease;
    -o-transition: all .2s ease;
    transition: all .2s ease;
}

a:hover {
    text-shadow: white 0 0 1px;
}

.paging a:link,
.page a:link,
.names a:link,
.news a:link {
    color: #20304d;
}

.paging a:visited,
.page a:visited,
.names a:visited,
.news a:visited  {
    color: #3e5e95;
}

a:link,
a:visited {
    color: #fafafa;
}

nav li,
.dropdown li,
.dropdown a,
.detail-page-link {
    -webkit-transition: all .1s ease;
    -moz-transition: all .1s ease;
    -o-transition: all .1s ease;
    transition: all .1s ease;
}

nav a:hover {
    background-color: #3e5e95;
}

.layer-selector a:link,
.layer-selector a:visited {
    color: #fafafa;
}

.active-layer {
    background-color: rgba(57,144,189,.75);
    border-radius: 3px;
}

/*========================================
5.	Themes
========================================*/

/* Color scheme

Main blue: #365283
Lighter blue: #3e5e95
Darker blue: #20304d
Off-white: #fafafa
Warning red: #aa1111

*/

.banner {
    color: #fafafa;
    background:#3e5e95 url('<?= $this->webroot ?>theme/weatherph/img/banner-plain.png') top left no-repeat;
}

nav,
.layer-selector,
.promo,
#info,
.output {
    background-color: #365283;
    color: #fafafa;
}

#current-readings-panel,
#info > .readings,
.current-detail-panel,
.tabs li,
.search-results h2 {
    background-color: #3e5e95;
    color: #fafafa;
}

nav li,
.current.readings-location,
.search-results h2 {
    text-shadow: 0px 1px 3px #333;
}
