/*

WEATHER PHILIPPINES

Table of contents:

1.Reset
2.Layout
3.Typography
4.Color Scheme
5.States

*/

/*========================================
1.	Reset
========================================*/

html, body, div, span, object, iframe, h1, h2, h3, dl dt, h4, h5, h6, p, blockquote, figure figcaption, blockquote, pre, abbr, address, cite, code, del, dfn, em, img, ins, kbd, q, samp, small, strong, sub, sup, var, b, i, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, figcaption, figure, footer, header, hgroup, menu, nav, section, summary, time, mark, audio, video {
    background: none repeat scroll 0 0 transparent;
    border: 0 none;
    font-size: 100%;
    margin: 0;
    outline: 0 none;
    padding: 0;
    vertical-align: baseline;
    list-style: none;
}

/*========================================
2.	Layout
========================================*/

/*CONTAINERS*/

#container {
width: 1000px;
margin: 0 auto;
}

body > .content,
.secondary > .content {
    padding: 20px 15px;
    margin: 0 10px;
}

/*HEADER*/
#container > header { position: relative; border-radius: 5px; height:120px; margin-top: 5px;}
#container > header .logo { padding: 35px 15px; margin: 0 10px; }
#container > header .search {
    color: white;
    display: inline;
    float: right;
    margin-right: 9px;
    margin-top: 75px;
    padding: 3px;
    text-align: right;
}

#container > header .language-selection {
    list-style: none; float: right;
    margin-right: 9px;
    clear: both; 
    color: white;
    font-size: 12px;
}
#container > header .language-selection li { display: inline; margin: 0 3px;}
#container > header .language-selection .selected { font-weight: bold; }

/*NAVIGATION*/
nav{
border-radius: 5px;
}

nav ul {
    padding: 5px 10px;
}

nav li {
    display: inline;
    padding: 2em;
}

/*MAIN*/
#map {
    float: left;
    width: 720px;
    height: 600px;
    padding: 0;
    margin: 10px 10px 0 0;
}

#map .layerSelector {
    width: 100%;
    height: 25px;
    position: absolute;
    top: 0;
    text-align: center;
}

#map .layerSelector li, #legend li {
    display: inline;
    padding: 2em;
    text-align: center;
}

#overlay {
    width: 180px;
    max-height: 475px;
    position: absolute !important;
    top: 30px;
    right: 5px;
    padding: 10px;
    border-radius: 5px;
    background: rgba(255,255,255,.7);
}

#overlay dl {
    padding: 10px 5px;
}

.details {
    text-align:left;
}

#overlay .details dt, #overlay .details dd {
    display: inline;
    padding: 10px 5px;
    text-align: left;
}

#overlay .readings{
    padding: 3px;
}

#overlay table {
    margin: 0 auto;
}

#overlay table td {
    padding: 10px 5px;
}

#legend {
    position:absolute !important;
    bottom:0;
    height: 25px;
    width: 720px;
    text-align: center;
}

#sponsors {
    float: left;
    margin-top: 10px;
    border: 1px solid black;
    border-radius: 8px;
    width: 230px;
    padding: 10px 19px;
}
/*SECONDARY*/
.secondary {
    display: inline-block;
}

.secondary .posts {
    width: 446px;
    border-radius: 8px;
    float: left;
}

.secondary .twitter {
    float:left;
    width: 198px;
    border-radius: 8px;
}

.secondary .ads {
    float: right;
    width: 198px;
    border-radius: 8px;
}

.twitter ul {
    margin: 10px 0;
}

.twitter li {
    padding: 1em;
}

.promo {
    padding: 10px;
    margin-bottom: 10px;
    border-radius: 8px;
}

/*========================================
3.	Typography
========================================*/

html {
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: .875em;
    font-weight: 400;
    line-height: 1.5;
}

h1 {
    font-size: 3em;
    font-weight: 600;
}

h2 {
    font-size: 1.875em;
    font-weight: 600;
}

h3, h4 {
    font-size: 1.143em;
    font-weight: 600;
}

h5, h6 {
    font-size: 1em;
    font-weight: 600;
}

.logo {
    font-size: 2.875em;
    font-weight: 200;
    text-shadow: #fafafa 0px 0px 20px
}

/*========================================
4.	Color Scheme
========================================*/

html {
    color: #2D4070;
}

.banner {
    background:#435680 url(../img/banner.png) top left no-repeat;;
    -moz-box-shadow: inset 0 0 5px #000000;
    -webkit-box-shadow: inset 0 0 5px #000000;
    box-shadow: inset 0 0 10px #000000;
}

nav, .layerSelector, #legend, .promo {
    color: #fafafa;
    background-color: #2F4476;
}

.infoPane {
    background: rgba(255,255,255,.7);
    border-radius: 5px;
    position: absolute;
}

.readings {
    background: white;
    border-radius: 5px;
}

.output {
    background-color: #2D4070;
    color: #fafafa;
}        

.twitter li {
    color: #2D4070;
}

.twitter li:nth-child(odd) {
    background: rgba(171,185,221,.5);
}

/*========================================
5.	States
========================================*/
.center {
    text-align: center;
}

.clear {
    clear: both;
}

.small {
    width: 24px;
    height: 24px;
}

.output {
    text-align: left;
    font-size: 1.375em;
    font-weight: bold;
}

nav li:hover {
    text-shadow: #ffffff 0px 0px 20px;
}
#footer {
    padding-bottom: 80px;
}